

.tarefas{
  margin-top: 30px;
}

.tarefas li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}

.tarefas li:hover{
  color: #51c5de;
}

.tarefas li .edit{
  margin-right:  15px;
  color: #51c5de;
}

.tarefas li .delete{
  margin-right: 15px;
 color: #f04c64;
}

.tarefas li .edit:hover,
.tarefas li .delete:hover{
color: #000;

}

.tarefas li .edit,
.tarefas li .delete{
 cursor: pointer;

}

.tarefas li span{
  display: flex;
  align-items: center;
}
